<%-
  content_for :page_title, "Register"
-%>

<% content_for :page_content do %>
  <div class="container"%>
    <h2>Register</h2>
    <p>Please pay the registration fee of $180 per couple to Catholic Engaged Encounter 01-0553-0093083-00 after registration on this website. If you are unable to make this contribution, please get in touch with us on our Contact Us page. Alternatively email us at engagedencounterwellington@gmail.com. </p>
    <%= render "form" %>
  </div>
<% end %>
