<div class="container">
  <h2>Register</h2>
  <hr>
  <p>Please pay the registration fee of $200 to Catholic Engaged Encounter 01-0553-0093083-00 after registration. Registrations close 1 week before each weekend and entry will be assessed based on numbers.</p>
  <%= render "form" %>
</div>
