<div class="container">
  <h2>Feedback</h2>
  <div class="hr"></div>
  <div class="table wrapper">
    <div class="table-row">
      <div class="table-head">Name</div>
      <div class="table-head">Comment</div>
    </div>
    <% @comments.each do |comment|%>
      <div class="table-row">
        <div class="table-cell"><%= comment["name"]%></div>
        <div class="table-cell"><%= comment["comment"]%></div>
      </div>
    <% end %>
  </div>
</div>
