<div class="container">
  <h2>Faq</h2>
  <hr>
  <% @faqs.each do |faq| %>
    <p class="question <%= faq["q_class"]%>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <%= faq["question"] %></p>
    <p class="answer hidden <%= faq["a_class"]%>"> <%= faq["answer"] %></p>
  <% end %>
 </div>
