<%-
  content_for :page_title, "Links"
-%>

<% content_for :page_content do %>
  <div class="container links-page"%>
    <h2>Links</h2>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item"><a href="https://www.wn.catholic.org.nz/about/church-mission/marriage-ministries" target="_blank" class="link-primary">Wellington Archdiocese</a></li>
        <li class="list-group-item"><a href="https://www.cdd.org.nz/marriage" target="_blank" class="link-primary">Engaged Encounter - Dunedin, New Zealand</a></li>
        <li class="list-group-item"><a href="https://www.engagedencounter.org.au" target="_blank" class="link-primary">Engaged Encounter - Sydney</a></li>
        <li class="list-group-item"><a href="https://engagedencounter.com" target="_blank" class="link-primary">Engaged Encounter - Worldwide</a></li>
      </ul>
    </div>
  </div>
<% end %>
