<%-
  content_for :page_title, "Register"
-%>

<% content_for :page_content do %>
  <div class="container"%>
    <h2>Register</h2>
    <p>Please register for the weekend via the following link: https://forms.gle/uHvRDxctuJNM4uJQA</p>
    <p>The cost of attending the weekend is $180 per couple. Our account number is: 01-0553-0093083-00. If you are not able to make this payment please email us.</p>
    <p>Our email address is engagedencounterwellington@gmail.com.</p>
  </div>
<% end %>
