<div class="container">
  <h2> The Weekend </h2>
  <div class="hr"></div>
  <div class="row">
    <div class="col-md-9">
      <h4>What happens on a Catholic Engaged Encounter Weekend? </h4>
      <p>An atmosphere is created for the two of you to concentrate exclusively on each other, free of the distractions, pressures and interruptions of daily living – a "time out" away from home, friends, and wedding preparations. There are no group dynamics or group therapy. It is a quiet weekend, specifically designed to give you the opportunity to talk honestly and intensively about your future together – an opportunity to discover a deeper appreciation of your relationship and God's call to unite in a permanent union, the Sacrament of Matrimony. </p>
      <p> The weekend consists of a series of presentations beginning Saturday at 8am and ending Sunday afternoon. Led by a team of married couples and a priest, the two of you are encouraged to talk privately with each other on many aspects of marriage, always from the viewpoint of your own relationship.</p>
      <p> Among the subjects you will have an opportunity to discuss with each other are your ambitions, goals, attitudes about God, sex, money, children, family, and your role in the church and community.  Personal reflection and couple discussion are the main focus of our weekend.  Since each relationship is in a different place, your private answers will be unique and special to your relationship.</p>
      <p>Through personal sharing, the members of the presenting team talk about what the Sacrament of Matrimony means to them individually and the impact a great marriage can have on the world.  We will not tell you how to live your life.  Our stories are meant to encourage you to explore your own attitudes and expectations.  We will offer some good ideas and tools to help the two of you to continue growing closer through the years.</p>
    </div>
    <div class="col-md-3">
      <%= image_tag("fr_ron.jpg", :alt => "fr_ron", class:"img-responsive") %>
      <span> Fr Ron Bennett </span>
      <%= image_tag("fr_ron.jpg", :alt => "nester_teresa", class:"img-responsive") %>
      <span> Nester and Teresa</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h4>Why should we attend?</h4>
      <p>Other than being a requirement to attend one of these courses for marriage in a Catholic Church, our motto is a "A wedding is a day, a marriage is a lifetime." Think of all the preparation you have done for your career or job. Most us spend years studying or learning. Think of the preparation taken for your wedding day. Most people spend months planning and many dollars preparing for their wedding. But how much time and effort do we spend preparing for what we hope will last 50 or 60 years – our marriage? </p>
      <p>Ask yourself this question, "Am I willing to spend 44 hours devoted to hearing ideas and learning skills that will help to make my marriage the best it can be?"</p>
    </div>
    <div class="col-md-3">
      <%= image_tag("fr_ron.jpg", :alt => "stephen_siobhan", class:"img-responsive") %>
      <span> Stephen and Siobhan</span>
      <%= image_tag("fred_yvonne.jpg", :alt => "fred_yvonne", class:"img-responsive") %>
      <span>Fred and Yvonne Browning</span>
    </div>
  </div>
</div>
