.flash {
  font-family: 'Avenir', serif;
  font-size: 16px;
  background-color: #808080;
  color: #981E32;
  border-radius: 1px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
}
