.navbar {
  background: $red;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $white;
    font-size: 15px;
    text-align: center;
  }
}
