@mixin a11y {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.team-page {
  dt {  @include a11y(); }
  p { font-weight: bold; }
  dt, dd {
      line-height: 0.8;
  }
}

.all-events, .all-registered-couples, .feedback-page {
  .table {
    display: table;
    width:100%;
    border-collapse:collapse;
  }
  .table-row {
    display: table-row;
  }
  .table-cell, .table-head {
    display: table-cell;
    padding:1em;
    border:#f0f0f0 1px solid;
  }
  .table-head {
    font-weight: bold;
    background-color: #808080 ;
    text-align: center;
  }
}

.faq-page {
  dt { font-size: 18px; }
  dd { padding-top: 20px; }
}

.homepage {
  h3 { text-align: left; }
}

@media (max-width: 767px) {
  .the-weekend-page {
    margin-left: 20px;
    margin-right: 20px;
  }
}
